

@font-face {
    font-family:quicksand;
    src: url(font/Quicksand-Medium.ttf);
}

* {box-sizing: border-box; margin: 0px; padding:0px;
}

html {
  scroll-behavior: smooth;
}

body {background-color:  rgb(253, 251, 251);}

.header{ 
  
  width: 100%; height:10%; 
    font-family: quicksand; font-size: 10%; 
   backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1); 
    margin: 0px; padding: 0px; 
    position: fixed; 
    z-index: 1;
    transition: all ease-out .5s;
    }

.active {      
     width: 100%; height:10%; 
      font-family: quicksand; font-size: 10%; 
     backdrop-filter: blur(3px);
     background-color: rgb(253, 251, 251);
     box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      margin: 0px; padding: 0px; 
      position: fixed; 
      transition: all ease-out .5s;
     
}



#logo{ height: 60%;
margin-left: 6%;
top: 50%;
transform: translateY(-50%);
position: absolute; 
z-index: 1;
}
    

.navs{
  float: right;
  position: absolute;
 display: flex;
 
    top: 50%;
     transform: translateY(-50%);
    align-items: center;
    list-style:none;  
    width: 100%;
    
    text-align: center;
  }

.navs li{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
   
    font-family: quicksand; 
    font-size: 16px;  
    text-align: center;
   margin-right: 30%; padding: 1.1%; 
     }

.list{
  display: flex;
  margin-right: 2%; 
  justify-content: space-between;
  padding: 1.1%;
margin-left: 60%;
  }



.navs li a:link{color: rgb(102, 0, 51); text-decoration: none; }

.navs li a:visited {color: rgba(102, 0, 51);}

#contact a:hover {color: rgb(86, 151, 209); }

#projects a:hover {color: rgb(237, 208, 126); }

#about a:hover {color: rgb(134, 105, 192); }

#home a:hover {color: rgb(51, 172, 105); }


.burger{ float: right;
  display: none;}

.burger div {width: 40px;
  height: 3px;
background-color:rgb(102, 0, 51);
margin-top: 7px;
border-radius: 20px;


}


@media only screen and (max-width: 768px) {

.navs li { margin-right: 0%;}

  .list{ 
    position: absolute;
    display: flex;
    margin-left: 0;
    flex-direction: column;
   align-items: center;
    height: 22vh;
    width: 100%;
    top: 7vh;
    background-color: rgb(253, 251, 251);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    transform: translateX(100%);
    transition:transform 0.5s ease-in;
   
    }


.burgericin {
width: 100%;  }

    .burger{ 
      display: block;
    cursor: pointer;
    float: right;
    margin-right: 5%;
   
}

  
.nav_active{transform: translateX(0%);}



}









.homem{font-family: quicksand;
}




#home_hello{ 
  padding-top:0%;
  margin-left:6% ; 
  font-size: 250%;
     position: absolute;}

#home_name{
  padding-top:3%;
  margin-left:6%;
   font-size: 50px;
    position: absolute;}

    #justname{color:rgb(102, 0, 51); 
      font-weight: 500px;
    animation-name:colorchange;
  animation-duration:3s;
  animation-direction: normal;}

  @keyframes colorchange {
    0% { color:rgb(102, 0, 51);}
    25% {color: rgb(237, 208, 126);}
    75% {color: rgb(86, 151, 209);}
    100% { color:rgb(102, 0, 51);}
  }

      
      
      #home_id{
       padding-top:7%; 
        margin-left:6% ; 
        font-size: 25px;
          position: absolute;}


          .nurdi{ width: 50%;
            margin-top: 32%;
         
          position:absolute;}

      #scroll {position: absolute;
     height: 3%;
    right:52%;
  top: 95%;
animation-duration: 0.5s;
    animation-iteration-count: infinite;}

    #scroll:hover {
      animation-name: bounce;
      animation-timing-function: ease;
  }

  @keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px);  }
    100% { transform: translateY(0); } }


  #come {position: absolute;
    font-size: 15px;
    right: 49.5%;
 top: 91%;}

  

.parallaximg {

  background-image: url("fotos/mypictu.jpg");

  min-height: 48rem; 
  background-size: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}








.box { 
  height:100%; background-color:rgb(253, 251, 251); }

.headerandpics {  
  margin-top: 12%; 
  margin-left:6%; 
  font-family: quicksand; font-size: 19px;
  display: flex;
 }



 .introandsites{  
 width: 40%;
 }





.intro{  
  width: 90%;
   margin-top:2%; 
   font-family: quicksand; font-size: 17px;
}

#intro2 { 
  margin-top: 6%;
}

.sites { width: 20%; 
 display: grid;
 grid-template-columns: repeat(3,1fr); 
 margin-top: 6%;

grid-gap:15%;
}



.pics { 
      width:55%;
  height: 25rem;
  display:grid;
  margin-right:6%;
  grid-template-columns: repeat(4,1fr);  
  float: right; 
  position: relative;
}


#truva, #versaille, #jury, #chair, #yesil, #sarı, #mavi, #bordo, #hat, #mor {grid-row:1/2;}


#truva {width: 30%; 
  float: right; 
  margin-top: 2%;
  margin-left: 46%;;
grid-column: 1/4;
border-radius: 4px;}

#truva:hover {
  transform: scale(1.1); }

#sarı {height:27%;
  float: right; 
  margin-top: 8%;
  margin-left: 52%;;
grid-column: 1/4;
}

#versaille {width: 30%; 
  float: right; 
margin-left: 17%;
margin-top: 5.7%;
  grid-column: 1/4;
  border-radius: 4px;}

  #versaille:hover {
    transform: scale(1.1);}

  #yesil {width: 33%;
     float: right; 
    margin-left:20%;
      grid-column: 1/4;
      border-radius: 4px;}


#jury {width: 32%;
   float: right; 
 margin-left: 72%;
margin-top: 32%;
  grid-column: 1/4;
  border-radius: 4px;} 

  #jury:hover {
    transform: scale(1.1);}

  #mavi {width: 31%;
  float: right; 
  margin-left: 75%;
 margin-top: 29%;
   grid-column: 1/4;
}

  
  #chair {width: 23%;
    float: right; 
  margin-left: 29%;
 margin-top: 32%;
   grid-column: 1/4;
   border-radius: 4px;} 

   #chair:hover {
    transform: scale(1.1);}

   #bordo {
    height: 25%;
    float: right; 
  margin-left: 34%;
 margin-top: 34%;
   grid-column: 1/4;
   } 

  

   #hat { width:20%;
    float: right; 
  margin-left: 98%;
 margin-top: 6.5%;
   grid-column: 1/4;
   border-radius: 4px;} 

   #hat:hover {
    transform: scale(1.1);}

   #mor { width:24%;
    float: right; 
  margin-left: 99%;
 margin-top: 7.8%;
   grid-column: 1/4;
 } 









.expandedu { 
   font-family: quicksand; 
  margin-top: 18%;
  margin-left: 6%;
margin-right: 6%;
   display: grid; 
   grid-template-columns: repeat(2,1fr);
   grid-gap: 6%;
}
 .geodo, .kural, .radyo, .industrialdesign, .business, .highschool {
  margin-top: 4%;
margin-right: 6%;}

.exp1, .exp2, .exp3, .edu1, .edu2, .edu3 { 
  margin-top: 1.5%;}

.exp1-date, .exp2-date, .exp3-date, .edu1-date, .edu2-date, .edu3-date  { 
float: right;}











h3 {color: rgb(102, 0, 51);}


#skills-header {
  font-family: quicksand; 
 margin-top: 14%;
 margin-left: 6%; }

 
.skills-list {
  font-family: quicksand; 
 margin-top: 0.7%;
 margin-left: 4%;
margin-right: 4%;
  display: grid; 
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5%;
}


.headsoftware, .headtech, .headweb, .headlang{ 
  margin-bottom: 6%;}

  .prolist, .techlist, .weblist, .languelist {
    margin-top: 8%;
    display: block;
  }


.software, .technical, .web,   .languages {background-color:rgb(253, 251, 251);
padding: 10%;}

.software:hover { transform: 1s;
  background-color:rgb(253, 251, 251);
border-radius: 4px;
box-shadow:   0px 10px 10px rgb(51 172 105 / 50%);
transform: scale(1.01);}


  
  .technical:hover { transform: 1s;
    background-color:rgb(253, 251, 251);
  border-radius: 4px;
  box-shadow:  0px 10px 10px rgb(134 105 192 / 50%);
  transform: scale(1.01);}



  .web:hover { transform: 1s;
    background-color:rgb(253, 251, 251);
  border-radius: 4px;
  box-shadow:  0px 10px 10px rgb(237 208 126 / 50%);
  transform: scale(1.01);}

 

  .languages:hover { transform: 1s;
    background-color:rgb(253, 251, 251);
  border-radius: 4px;
  box-shadow:  0px 10px 10px rgb(86 151 209 / 50%);
  transform: scale(1.01);}


.headsoftware {color: rgb(51, 172, 105); }

.headtech {color: rgb(134, 105, 192); }

.headweb {color: rgb(237, 208, 126); }
              
.headlang {color: rgb(86, 151, 209); }









#portfolioprojects {
margin-top: 10%;
font-family: quicksand;
margin-right: 4%;}

.projectsall { 
  text-align: center;
  width: 88%;

margin-top: 2%;
margin-right: 10%;
margin-left: 8%;
}

#projects-header {margin-left: 6%;}




.pro { z-index: 1;
  padding: 1%;
   display:block; 
 font-size:45px;
 color: rgb(102, 0, 51);
}


.pro a:link{color: rgb(102, 0, 51); text-decoration: none; }

.pro a:visited {color: rgba(102, 0, 51);}

#yogamigo a:hover {color: rgb(237, 208, 126); }

#ditto a:hover {color: rgb(51, 172, 105); 
} 


#vivor a:hover {color: rgb(134, 105, 192); }

#gig a:hover {color: rgb(223, 111, 60); }

#graphic a:hover {color: rgb(86, 151, 209);}





#yogamigo a:hover:before {
  content: '';
background: url('fotos/yogamigo1.png');
  background-size:contain;
  background-repeat:no-repeat;
width:32%; 
left: 6%; 
height: 60%; 
margin-top:-8px;
position: absolute;
opacity:1;

transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
          
}



#ditto a:hover:before {
  content: '';
background: url('fotos/ditto1.svg');
  background-size:contain;
  background-repeat:no-repeat;
width:40%; 
left: 60%; 
height:60%; 
margin-top:-80px;
position: absolute;
opacity:1;

transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
          
}


#vivor a:hover:before {
  content: '';
background: url('fotos/mask1.png');
  background-size:contain;
  background-repeat:no-repeat;
width: 30%; 
left: 6%; 
height: 55%; 
margin-top:-140px;
position: absolute;
opacity:1;

transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
          
}

#gig a:hover:before {
  content: '';
background: url('fotos/gig2.png');
  background-size:contain;
  background-repeat:no-repeat;
width: 30%; 
left: 60%; 
height: 60%; 
margin-top:-260px;
position: absolute;
opacity:1;

transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
          
}

#graphic a:hover:before {
  content: '';
background: url('fotos/albumcover.jpg');
  background-size:contain;
  background-repeat:no-repeat;
width: 30%; 
left: 8%; 
height: 50%; 
margin-top:-270px;
position: absolute;
opacity:1;

transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
          
}





@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}



#form {margin-top: 10%;}

.footer { position: absolute;
margin-top: 2%;
  width: 100%; height:10%; 
  display: block;
  text-align: center;
  background-color:rgb(102, 0, 51, 0.9);
  
  font-family: quicksand; 
   
}

.footertext { font-size: 10px;

   color: white;
  display: block;
  }

  #footername { font-size: 17px; 
    margin-top: 1.2%;
    margin-bottom: 0.2%;
    }





    @media only screen and (max-width: 768px) {


      .parallaximg { min-height:40;
      
    background-position-x: 100%;
  background-position-y: 100%;}
    



    .nurdi{
      width: 90%;
       margin-top: 90%;
       color:rgb(253, 251, 251);
    }
    
    #home_id{ display: none;
     
    
       } 
    
       #home_name{
        padding-top:8%;

        }

    #justname{color: rgb(237, 208, 126);
      font-weight: 500px;
    animation-name:colorchange;
  animation-duration:2s;
  animation-direction: normal;}

  @keyframes colorchange {
    0% { color:rgb(102, 0, 51);}
    50% {color: rgb(86, 151, 209);}
    100% {color: rgb(237, 208, 126);}
  }



    
        #come {color:rgb(253, 251, 251);
          right: 44%;
          top: 90%;
    }

    #scroll { top:94%;}
    
    
        .headerandpics { margin-top: 20%;
          display: block;
         
         }
    
    .pics {width: 100%;
 
    margin-top: 20%;}
    
    .introandsites{ 
      width: 100%;
      
    }
    .expandedu{ 
      display: block;}
    
    .education {
       margin-top:20%;}
    
.experiences {border: olive 2 px solid;}

    .skills-list {
      display: block;}
    
    .skills {
      margin-top:40%;}
    
     #portfolioprojects{
      margin-top:35%;}

#form {
  margin-top:35%;}

    }
    